default/tools/flight-peer/bin/
*.log
*.duckdb*

**/__pycache__/
default/dataframes.json
global_data/client_info.json
default/rapid/channel_snapshot.json
default/argus/
default/runtime/
default/dataframes.json
default/downloads/
